p,h1,h2,h3,h4,h5,h6,a,body,ul,li{
	padding: 0 ;
	margin: 0 ;
}
a{
 color: inherit;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
.fix{
	clear: both;
}
.f-l{
	float: left;
}
.f-r{
	float:right;
}
ul li{
	list-style: none;			
}
img {
	display: block;
}
body {
	font-family: "microsoft yahei";
}